<h1>Monitoring Configuration</h1>

<div class="acidjs-css3-treeview">
  <ul>
    <% i=0 %>
    <li><input type="checkbox" id="node-<%= i %>" /><label></label><label for="node-<%= i %>"><%= link_to "NEW DB", new_configdb_path %></label>
    <% i+=1 %>
    <% @configdbs.each do |configdb| %>
      <li><input type="checkbox" id="node-<%= i %>" /><label><input type="checkbox" <%= (configdb.monitor=="Y")  ? "checked" : "unchecked" %> disabled=true /><span></span></label><label for="node-<%= i %>"><%= link_to configdb.location.upcase, edit_configdb_path(:id => configdb.id) %></label>
        <ul>
          <% j=0 %>
          <li><input type="checkbox" id="node-<%= i %>-<%= j %>" /><label></label><label for="node-<%= i %>-<%= j %>"><%= link_to "USER DEFINED ATTRIBUTE", new_configattrib_path(:id => configdb.id) %></label></li>
          <% j+=1 %>
          <% Configattrib.where("configdb_id=?",configdb.id).each do |configattrib| %>
            <li><input type="checkbox" id="node-<%= i %>-<%= j %>" /><label><input type="checkbox" <%= (configdb.monitor=="Y" && configattrib.monitor=="Y")  ? "checked" : "unchecked" %> disabled=true /><span></span></label><label for="node-<%= i %>-<%= j %>"><%= link_to configattrib.attribute_name, edit_configattrib_path(:id => configattrib.id) %></label>
            <div style="display: inline;background-color:yellow;"><%=configattrib.th_warning%></div> <div style="display: inline;background-color:red;"><%=configattrib.th_critical%></div>
              <ul>
                <% k=0 %>
                <!-- Line removed and backup in file folder fixdb/backups -->
                <!-- <li><input type="checkbox" id="node-<%= i %>-<%= j %>-<%= k %>" /><label></label><label for="node-<%= i %>-<%= j %>-<%= k %>"><strike><% link_to "NEW ATTRIBUTE DETAIL", new_configattribmaster_path(:id => configattrib.id) %></strike></label></li> -->
                <% k+=1 %>
                <% Configattribmaster.where("configattrib_id=?",configattrib.id).each do |configattribmaster| %>
                <% id=Configattribincl.where("configattrib_id=?",configattrib.id).pluck(:id)[0] %>
                <% configattribincl=Configattribincl.where("configattrib_id=?",configattrib.id) %>
                <% tcount=Configattribincl.where("configattrib_id=? and param1=?",configattrib.id,configattribmaster.param1).count %>
                <% excludemonitor=Configattribexcl.where("configattrib_id=? and param1=?",configattrib.id,configattribmaster.param1).pluck(:excludemonitor)[0] %>
                

                 <% if configdb.monitor=="Y" && configattrib.monitor=="Y" && (excludemonitor=="N" || excludemonitor==nil) %>
                    <li>
                    <%= link_to "Enabled", tcreate_configattribexcls_path(:configdb_id => configattrib.configdb_id,:configattrib_id =>  configattribmaster.configattrib_id,:param1 => configattribmaster.param1) %>
                    <label><input type="checkbox" checked onclick="excludemonitor();"/> <span></span></label><label for="node-<%= i %>-<%= j %>-<%= k %>">
                  <% else %>
                    <li><label><input type="checkbox" unchecked /> <span></span></label><label for="node-<%= i %>-<%= j %>-<%= k %>">
                  <% end %>
                  <% if tcount==0 %>  
                    <%= link_to configattribmaster.param1, new_configattribincl_path(:configdb_id => configattribmaster.configdb_id,  :configattrib_id => configattribmaster.configattrib_id, :param1 => configattribmaster.param1) %>
                  <% else %>
                    <%= link_to configattribmaster.param1, edit_configattribincl_path(:id => id, :configattrib_id => configattribmaster.configattrib_id, :param1 => configattribmaster.param1) %> <div style="display: inline;background-color:yellow;"><%=configattribincl.pluck(:th_warning)[0]%></div> <div style="display: inline;background-color:red;"><%=configattribincl.pluck(:th_critical)[0]%></div>
                  <% end %>
                  <% k+=1 %>
                <% end %>
              </ul>
              <% j+=1 %>
            </li>
          <% end %>
        </ul>
        <% i+=1 %>
      </li>
    <% end %>
  </ul>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

<script>
 function excludemonitor() {
    $.post( 'contribexcls#tnew' , { contrib_id : 1, r_id : record_id }, 
       function( response ) {
       //alert(response);
       $( "#result" ).html( response );
       }
    );
 }
</script>
