<p id="notice"><%= notice %></p>

<p>
  <strong>Configattrib:</strong>
  <%= @configattribincl.configattrib %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @configattribincl.param1 %>
</p>

<p>
  <strong>Th warning:</strong>
  <%= @configattribincl.th_warning %>
</p>

<p>
  <strong>Th critical:</strong>
  <%= @configattribincl.th_critical %>
</p>

<%= link_to 'Edit', edit_configattribincl_path(@configattribincl) %> |
<%= link_to 'Back', configattribincls_path %>
