<p id="notice"><%= notice %></p>

<h1>Listing Configattribexcls</h1>

<table>
  <thead>
    <tr>
      <th>Configattrib</th>
      <th>Param1</th>
      <th>Excludemonitor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configattribexcls.each do |configattribexcl| %>
      <tr>
        <td><%= configattribexcl.configattrib %></td>
        <td><%= configattribexcl.param1 %></td>
        <td><%= configattribexcl.excludemonitor %></td>
        <td><%= link_to 'Show', configattribexcl %></td>
        <td><%= link_to 'Edit', edit_configattribexcl_path(configattribexcl) %></td>
        <td><%= link_to 'Destroy', configattribexcl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configattribexcl', new_configattribexcl_path %>
