<p id="notice"><%= notice %></p>

<p>
  <strong>Configattrib:</strong>
  <%= @configattribexcl.configattrib %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @configattribexcl.param1 %>
</p>

<p>
  <strong>Excludemonitor:</strong>
  <%= @configattribexcl.excludemonitor %>
</p>

<%= link_to 'Edit', edit_configattribexcl_path(@configattribexcl) %> |
<%= link_to 'Back', configattribexcls_path %>
