<p id="notice"><%= notice %></p>

<p>
  <strong>Configattrib:</strong>
  <%= @configattribdetail.configattrib %>
</p>

<p>
  <strong>Log time:</strong>
  <%= @configattribdetail.log_time %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @configattribdetail.param1 %>
</p>

<p>
  <strong>Param2:</strong>
  <%= @configattribdetail.param2 %>
</p>

<p>
  <strong>Notified:</strong>
  <%= @configattribdetail.notified %>
</p>

<%= link_to 'Edit', edit_configattribdetail_path(@configattribdetail) %> |
<%= link_to 'Back', configattribdetails_path %>
